.auth-header{
  margin-top:50px;
}

.auth-form{
  margin-top:10px;
}

.auth-form > label{
  margin-bottom:0px;
  font-size: 14px;
  color: #757575;
  margin-left: 2.5px;
}

.auth-form > input {
  margin-bottom:10px;
}