.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
  width:120px;
}

.checkbox > label > input{
  margin-right:10px;
}

.date_time_picker{
  min-width:250px;
  cursor:pointer;
}

.table-row-header{
  background-color: #8e8e8e;
  color: #000;
  font-weight: 400;
  Letter-spacing: 0px;
  Text-transform: capitalize;
}

.table thead th {
  font-weight:400;
}