.card-header {
  background-color: #0E0E52;
  color: #ffffff;
}

.char-count {
  font-size: 12px;
}

.text-area {
  margin-bottom: 2px;
}

.btn-job-form {
  background-color: #0E0E52;
  color: #ffffff;
}

.btn-job-form:hover {
  color: #fff;
  cursor: pointer;
}

.search-input{
  padding-left:10px;
}

.must-have {
  color: red;
}

.star {
  color: yellow;
}

#jobRankingSelect {
  padding-bottom: 5px;
}